<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>:: Calorie Counter App ::</title>
  </head>
  <body>
    <h1>Calorie Counter App</h1>
    <a th:text="'Add new meal'" th:href="@{/addoredit}" />
    <p th:text="'Number of meals: ' + ${sumMeals}"></p>
    <p th:text="'Total calories: ' + ${sumCalories}"></p>
    <table border="solid black 1px">
      <tr>
        <th th:text="'Date'" />
        <th th:text="'Type'" />
        <th th:text="'Description'" />
        <th th:text="'Calories'" />
      </tr>
      <tr th:each="meal: ${meals}">
        <td th:text="${meal.date}"></td>
        <td th:text="${meal.type}"></td>
        <td th:text="${meal.description}"></td>
        <td th:text="${meal.calories}"></td>
      </tr>
    </table>
  </body>
</html>